<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="./assets/css/bootstrap-icons.css">
        <link rel="stylesheet" href="./assets/css/ag-grid.css">
        <link rel="stylesheet" href="./assets/css/ag-theme-alpine.css">
        <title>Jquery GrapQL Client</title>
    </head>
    <body>
        <!-- page structure -->
        <header>
            <!-- widgets -->
            <div class="spinner-border text-success d-none spinner float-left" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
                <a class="navbar-brand" href="#">Jquery Client</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto align-right">
                        <li class="nav-item active">
                            <a class="btn btn-lg float-right" data-toggle="tooltip" title="Reset"><i class="bi bi-trash text-danger btnReset"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-toggle="tab" href="#welcome" role="tab">Bienvenida</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#custom_welcome" role="tab">Bienvenida custom</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="tab" href="#table_example" role="tab">Tabla</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-toggle="list" href="#ag_grid" role="tab">Ag grid example</a>
                        </li>
                    </ul>
                    <!-- content -->
                    <div class="tab-content">
                        <section class="tab-pane active" id="welcome" role="tabpanel">
                            <br/>
                            <button id="btnGreet" class="btn btn-outline-success btn-lg">Bienvenida</button>
                            <br/> <br/>
                            <div id="greetingDiv"></div>
                        </section>
                        <section class="tab-pane" id="custom_welcome" role="tabpanel">
                            <br/>
                            <label for="txtName">Escribe tu nombre:</label>
                            <div class="input-group mb-3">
                                <input id = "txtName" type = "text" value = "Adolfer"/>
                                <div class="input-group-prepend">
                                    <button id = "btnSayhello" class="btn btn-outline-info btn-lg form-control">Saludar</button>
                                </div>
                            </div>
                            <div id = "SayhelloDiv"> </div>
                        </section>
                        <section class="tab-pane" id="table_example" role="tabpanel">
                            <br/>
                            <div class="bd-highlight mb-3">
                                <div class="p-4">
                                    <button id="btnStudents" class="btn btn-outline-warning btn-lg">Estudiantes</button>
                                    <button id="btnMySQLStudents" class="btn btn-outline-warning btn-lg">Estudiantes MySQL</button>
                                    <br/><br/>
                                    <div class="input-group mb-3">
                                        <input id = "txtStudenId" type = "text" valu ="S1001"/>
                                        <div class="input-group-prepend">
                                            <button id = "btnStudentByID" class="btn btn-outline-warning btn-lg form-control">ID</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="studentsDiv" class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Colegio</th>
                                            <th>Locación</th>
                                        </tr>
                                    </thead>
                                    <tbody class="student_tb">
                                        <template v-for="student in students">
                                        <tr>
                                            <td>{{ student.id }}</td>
                                            <td>{{ student.fullName }}</td>
                                            <td>{{ student.college.name }}</td>
                                            <td>{{ student.college.location }}</td>
                                        </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="tab-pane" id="ag_grid" role="tabpanel">
                            <br/>
                            <div class="d-flex flex-row bd-highlight mb-3">
                                <div class="p-4">
                                    <button id="btnAgGridStudents" class="btn btn-outline-warning btn-lg">Estudiantes AG</button>
                                    <button id="btnAgGridMySQLStudents" class="btn btn-outline-warning btn-lg">Estudiantes AG MySQL</button>
                                </div>
                            </div>
                            <div id="agGrid_content">
                                <div id="myGrid" class="ag-theme-alpine w-100" style="height: calc(50vh);"></div>
                            </div>
                        </section>
                        <hr/>
                    </div>
                    <!-- content -->
                </div>
            </div>
        </main>
        <footer>
        </footer>
        <!-- modals -->
        <div class="modal errorModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger">Atención</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer d-none">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- scripts -->
        <script src="./assets/js/lib/jquery.min.js"></script>
        <script src="./assets/js/lib/bootstrap.bundle.min.js"></script>
        <script src="./assets/js/lib/vue@2.js"></script>
        <script src="./assets/js/lib/ag-grid-community.min.noStyle.js"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>